<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="{% url 'LearningLogs:index' %}">LearningLog</a> -
    <a href="{% url 'LearningLogs:topics' %}">Topics</a> -
    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <a href="{% url 'Users:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'Users:login' %}">Login</a> -
        <a href="{% url 'Users:register' %}">Register</a>
    {% endif %}
</p>

{% block content %} {% endblock content%}

</body>
</html>